<div class="col-xs-12">
  <h2 id="no-requests-history" class="headline text-yellow <%= if @requests != [], do: "hidden" %>"> No recoreded requests yet :( </h2>
  <%= render "index/_requests_table.html", requests: @requests %>
</div>
