<div class="progress">
  <%= for {group, duration, percentage, color} <- group_events_own_durations(@timeline) do %>
    <div class="progress-bar <%= color %>"
         style="width: <%= percentage %>%"
         data-toggle="tooltip"
         title="<%= group %> <%= percentage %>% - <%= native_time_to_string(duration) %>">
      <%= if percentage >= 5 do %>
        <span> <%= group %>, <%= percentage %>% </span>
      <% end %>
    </div>
  <% end %>
</div>
