*::before {
  all: unset;
}

*::after {
  all: unset;
}

*::hover {
  all: unset;
}

*::visited {
  all: unset;
}

*::link {
  all: unset;
}

*::active {
  all: unset;
}

* {
  max-width: inherit;
  max-height: inherit;
}

.container-fluid * {
  background: inherit;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
}

@import "reset-and-normalize";
