*::before {
  all: unset;
}

*::after {
  all: unset;
}

*::hover {
  all: unset;
}

*::visited {
  all: unset;
}

*::link {
  all: unset;
}

*::active {
  all: unset;
}

* {
  max-width: inherit;
  max-height: inherti;
}

.container-fluid * {
  background: inherit;
}

@import "reset-and-normalize";
