@import 'bootstrap';
@import 'font-awesome';

@import 'dashboard/fonts';
@import 'admin-lte/dist/css/AdminLTE';
@import 'admin-lte/dist/css/skins/skin-yellow';

.invisible-row {
  display: none;
}

.rows-collapse {
  display: none;
}

#requests-history tr {
  cursor: pointer;
}

.box-body .progress {
  margin-bottom: 0px;
}

.progress > .progress-bar {
  border-radius: 0;
}

td.duration {
  min-width: 200px;
}
