@import 'bootstrap';
@import 'font-awesome';

@import 'dashboard/fonts';
@import 'admin-lte/dist/css/AdminLTE';
@import 'admin-lte/dist/css/skins/skin-yellow';

#requests-chart {
  max-height: 300px;
}

.invisible-row {
  display: none;
}

.rows-collapse {
  display: none;
}
