.ex-debug-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;

  // namespacing to avoid conflicts
  @import "bootstrap";

 // TOOLBAR

  .navbar {
    min-height: 30px;
    height: 30px;
  }

  .navbar-nav.nav > li > span {
    @extend a;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    cursor: pointer;

    &> i {
      margin-right: 5px;
    }
  }

  .navbar-brand {
    padding: 2px 2px;
    height: 30px;

    img {
      height: 100%;
    }
  }

  .toolbar-item {
    .label { // FIX ME
      position: relative;
      top: -2px;
    }
  }

  // SLIDE UP PANELS

  .panel {
    margin-bottom: 0;
    bottom: 30px;
    display: none;

    .panel-body {
      padding: 5px 15px;
      max-height: 200px;
      overflow-y: auto;
    }

    .panel-heading {
      padding: 5px 15px;
    }

    .table {
      margin-top: 0;
      margin-bottom: 0;

      caption {
        padding-top: 4px;
        padding-bottom: 4px;
      }

      td, th {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;

        p {
          margin: 0;
        }
      }
    }
  }

 .nowrap {
   white-space:nowrap;
  }

  table {
    .hljs {
      background: unset;
      padding: unset;
    }
  }

  .pointer {
    cursor: pointer;
  }
}

