#ex-debug-toolbar {
  $panel-max-height: 200px;

  @import "_reset";

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;

  // namespacing to avoid conflicts
  @import "bootstrap";
  @import "prismjs/themes/prism";
  @import "prismjs/plugins/line-numbers/prism-line-numbers";
  @import "prismjs/plugins/line-highlight/prism-line-highlight";
  @import "xterm/dist/xterm";
  @import "xterm/dist/addons/fullscreen/fullscreen";

  // TOOLBAR

  .navbar {
    min-height: 30px;
    height: 30px;
  }

  .navbar-nav.nav > li > span {
    @extend a;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    cursor: pointer;

    &> i {
      margin-right: 5px;
    }
  }

  .navbar-brand {
    padding: 2px 2px;
    height: 30px;

    img {
      height: 100%;
    }
  }

  .toolbar-item {
    margin-right: 5px;

    .label { // FIX ME
      position: relative;
      top: -2px;
    }
  }

  // SLIDE UP PANELS

  .panel {
    margin-bottom: 0;
    bottom: 30px;
    display: none;

    .panel-body {
      padding: 5px 15px;
      max-height: $panel-max-height;
      overflow-y: auto;
    }

    .panel-heading {
      padding: 5px 15px;
    }

    .table {
      margin-top: 0;
      margin-bottom: 0;

      caption {
        padding-top: 4px;
        padding-bottom: 4px;
      }

      td, th {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;

        p {
          margin: 0;
        }
      }
    }
  }

  .nowrap {
    white-space:nowrap;
  }

  table {
    .hljs {
      background: unset;
      padding: unset;
    }
  }

  .pointer {
    cursor: pointer;
  }

  #terminal-container {
    width: auto;
    height: 480px;
  }

  .modal-top-action {
    margin-right: 10px;
  }

  .fullscreen {
    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .modal-content {
      height: auto;
      min-height: 100%;
      border-radius: 0;
    }

    #terminal-container {
      height: 100%;
    }
  }

  .xterm.fullscreen {
    top: 55px;
  }

  #code-snippet-container {
    margin-top: 40px;
  }

  #breakpoint .panel-body {
    height: $panel-max-height;
  }

  // Historic flag
  .historic-flag {
    display: none;

    .back-to-current-request {
      font-weight: bold;
      color: black;
      font-size: 0.85em;
    }
  }
  .historic-request {
    .historic-flag {
      display: block;
    }
  }
  .history-point {
    cursor: pointer;

    &.active {
      cursor: default;
    }
  }

}

#edt-notification img{
  height: 25px;
}
