.ex_debug_toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;

  // namespacing to avoid conflicts
  @import "bootstrap";
}
